/*.prj
/*.stx
/*.xst
/*.exe
/*.ngr
/*.ngc
/*.syr
/*.wdb
/*.xrpt
/*.xreport
/*.html
/*.lso
/*.cmd
/*.log
/*.cmd_log
/*.xmsgs
/*.xml
/*.ini
isim/
xst/
iseconfig/
_xmsgs/
ipcore_dir/
Memory/
/assembler/init_mem.data